body{
    display: flex;
    align-item: center;
    justify-content: center;
}

.container{
    background-color: black;
    text-align: center;
    width: fit-content;
    padding: 40px;
    margin: auto;
    color: white;
}

input{
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.btn-guess{
    margin-bottom: 30px;
    font-size: 22px;
    background-color: lightblue;
    cursor: pointer;
}
.btn-guess:hover{
    background-color: burlywood;
    cursor: pointer;
    border-radius: 15px;
}

#lbl{
    font-size: 7.0em;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#instruction{
    margin-top: 30px;
    width: 300px;
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    font-style: italic;
}
